#main-heading {
    color:#ff2c90;
    font-size: 45px;
}

#header-section {
    margin-top: 120px;
}

.jobBtn {
    background-color: #ff2c90;
    font-size: 22px;
}

.jobBtn a {
    text-decoration: none;
    color: white;
}

.jobBtn:hover {
    background-color: #cc0267;
}

#word-animation {
    font-size: 2em;
}