<main class="fw-light">
    <div class="d-flex">
        <div id="header-section">
            <h1 id="main-heading" class="fw-normal mt-5">A comprehesive platform for <br> reliable</h1>
            <p id="word-animation" class="fw-normal text-light" >job opportunities and internships.</p>
            <h4 class="fw-light text-light">Get Discovered. Get Hired.</h4>
            <div class="mt-3">
            <button type="button" class="btn fw-light text-light jobBtn">I'm A Job Seeker</button>
            <button type="button" class="btn fw-light text-light ms-2 jobBtn">I'm A Recruiter</button>
            </div>
        </div>
        <div class="ms-5">
            <img src="/images/banner.png" alt="banner"/>
        </div>
    </div>
</main>