<div class="border mt-2 mb-3 pb-5">
    <header class="w-100 m-0">
        <img src="/images/web-banner.png" class="img-fluid" alt="web-banner">
    </header>
    <div>
        <h1 class="text-success fw-light fs-1 text-center m-3"><span class="text-danger"> SDE</span> oppertunity in GURGAON HR IND REMOTE at <span class="text-info"> Coding Ninjas</span></h1>
    </div>
    <div class="ms-4">
        <h4 class="fw-light">Coding Ninjas</h4>
        <h5 class="fw-light">Tech SDE</h5>
        <ul class="fw-light fs-5" style="list-style-type:none;">
            <li><img src="https://cdn-icons-png.flaticon.com/128/9077/9077975.png" width="22"> Gurgaon HR IND Remote</li>
            <li><img src="https://cdn-icons-png.flaticon.com/128/6366/6366707.png" width="20" > 14-20lpa</li>
            <li><img src="https://cdn-icons-png.flaticon.com/128/786/786017.png" width="18"> Apply By 30 Aug 2023</li>
            <li><img src="https://cdn-icons-png.flaticon.com/128/5444/5444054.png" width="18"> Number of openings 5</li>
            <li><a href="/" style="text-decoration: none; color: #e40467;"><img src="/images/people.png" width="19"> Applicants 1</a></li>
        </ul>
        <div class="ms-4">
            <button class="btn btn-sm btn-outline-info">REACT</button>
            <button class="btn btn-sm btn-outline-info">NodeJs</button>
            <button class="btn btn-sm btn-outline-info">JS</button>
            <button class="btn btn-sm btn-outline-info">SQL</button>
            <button class="btn btn-sm btn-outline-info">MongoDB</button>
            <button class="btn btn-sm btn-outline-info">Express</button>
            <button class="btn btn-sm btn-outline-info">AWS</button>
        </div>
        <div class="ms-4 mb-3 mt-2">
            <button data-bs-toggle="modal" data-bs-target="#applyModal" class="btn fw-light btn-md btn-primary px-5 my-2">
                Apply Now
            </button>
        </div>
        <small class="text-body-secondary">
        <span style="width: 180px" class="bg-success text-white fw-light fs-6 border border-success p-1 border-opacity-50 rounded">
            Posted: 9/25/2023, 6:00:22 PM
        </span></small>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="applyModal" tabindex="-1" aria-labelledby="applyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fw-light text-success fs-5" id="applyModalLabel">easily</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body fw-light">
                <form action="/" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control fw-light" id="name" name="name" placeholder="test" >
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control fw-light" id="email" name="email" step="0.01" placeholder="test@gmail.com"  >
                    </div>
                    <div class="mb-3">
                        <label for="contact" class="form-label">Contact</label>
                        <input type="number" class="form-control fw-light" id="contact" name="contact" step="0.01" placeholder="+91 1234567890"  >
                    </div>
                    <div class="mb-3">
                        <label for="imageUrl" class="form-label">Resume</label>
                        <input type="file" class="form-control fw-light" id="resume" name="resume" accept="file/*">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary fw-light">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>