<div class="min-vh-100">
  <div class="container mx-auto p-2 d-flex align-items-centre justify-content-around flex-wrap">
    <div class="card border-white m-3 bg-theme" style="max-width: 18rem">
      <div class="card-header d-flex flex-column align-items-centre justify-content-start p-2">
        <span style="width: 160px" class="bg-primary bg-opacity-25 text-white border border-success border border-success p-1 border-opacity-50 rounded">
          Actively hiring <img src="/images/trending.png" width="20px"></span>
        <h5 class="my-1 fw-bold text-warning">Coding Ninjas</h5>
        <div>
          <span>Tech</span>
          <span class="text-info">SDE</span>
        </div>
      </div>
      <div class="card-body d-flex align-items-centre justify-content-center flex-column">
        <p class="fw-bold">
          <i class="fa-solid fa-location-dot"></i> Gurgaon HR IND Remote
        </p>
        <p class="fw-bold">
          <i class="fa-solid fa-indian-rupee-sign"></i> 14-20lpa
        </p>
        <div class="skills p-1">
          <button class="btn btn-sm btn-outline-info">REACT</button>

          <button class="btn btn-sm btn-outline-info">NodeJs</button>

          <button class="btn btn-sm btn-outline-info">JS</button>

          <button class="btn btn-sm btn-outline-info">SQL</button>

          <button class="btn btn-sm btn-outline-info">MongoDB</button>

          <button class="btn btn-sm btn-outline-info">Express</button>

          <button class="btn btn-sm btn-outline-info">AWS</button>
        </div>
        <a href="/job/1" class="btn btn-sm btn-outline-success my-2">
          View details
        </a>
      </div>
    </div>
  </div>
</div>
