<div class="container w-50 mt-5 border shadow p-3 mb-5 bg-body-tertiary rounded">
    <h1 class="text-center fw-normal">Login</h1>

    <form class="mt-4 mb-4 fs-4 fw-light" action="/login" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control fw-light" id="email" name="email" step="0.01" placeholder="Enter email"  >
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Password</label>
            <input type="password" class="form-control fw-light" id="password" name="password" step="0.01" placeholder="Enter your password"  >
        </div>
        <div class="text-center">
            <button type="submit" class="btn text-white fs-5 fw-light" style="background-color: #ff2c90;">Login</button>
        </div>
    </form>
</div> 